body {
    text-align: center;
    font-family: 'Fredoka One', cursive;
    background: rgb(228, 205, 255);
}

header {
    text-shadow: black 4px 4px;
    font-size: 70px;
    margin: 0.2em;
    color: rgb(132, 12, 180);
}

#grid {
    text-shadow: black 2px 2px;
    color: rgb(0, 156, 34);
    margin: 1em 0 0.25em;
    font-size: 40px;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
    height: 20px;
}

input[type=number] {
    width: 6em;
}

footer {
    display: block;
    position: absolute;
    right: 0;bottom:0;left:0;
    background-color: blanchedalmond;
  }

.color-selector{
    margin-top: 1em;
    
}

.flex-grow-1{
    color:  rgb(223, 36, 36);
    text-shadow: black 2px 2px;
    margin: 1em 0 0.25em;
    font-size: 40px;
}

#sizePicker{
    margin-top: 1.5em;
}

input[type=submit]{
    color: green;
}

h4{
    text-shadow: black 0.1em 0.1em;
    font-size: 30px;
    font-weight: bold;
    
}

#pixelCanvas
{
    background-color: white;
}

.how{
    padding-top: 70px;
    align-items: flex-start;
}